html{
    scroll-behavior: smooth;
}
body {
    text-align: center;
    background: linear-gradient(#d39adb 0%, #35103b 100%)
}

img {
    width: 500px;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px;
}

#bio {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

#welcome {
    top:50px;
    text-align: center;
}

p {
    font-size: 20px;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.link {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.link:hover {
    background-color: black;
    font-size: 23px;
}
.line{
   background-color: black; 
}
